@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");
/* Additional styles here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-img {
  height: 546px;
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.6),
      rgba(20, 20, 20, 0.6)
    ),
    url("../assets-11/hero-bg.png");
  background-position: center;
  background-size: cover; /* Ensure the background covers the entire section */
  background-repeat: no-repeat;
  width: 100%;
  color: white; /* Set text color to white for better visibility */
}

.header-3 {
  --bs-gutter-x: 0px;
}
ul {
  list-style: none;
  gap: 97px;
  padding-left: 96px;
}

.btn-apply {
  width: 178px;
  height: 56px;
  background: #3ac569;
  border-radius: 28px;
}

/* Start of Second Section  */
.sec-2-green-ver {
  width: 28px;
  height: 0px;
  border: 2px solid #3ac569;
  transform: rotate(90deg);
  margin-top: 18px;
  margin-right: -8px;
}

.main-card {
  width: 291px;
}
.card-img {
  height: 172px;
  border-radius: 20px;
}
.card-ico-text {
  width: 291px;
}

/* End of Second Section  */

/* Start of Sidebar Section  */

.sec-2-sidebar-ver {
  width: 22px;
  height: 0px;
  border: 2px solid #3ac569;
  transform: rotate(90deg);
  margin-top: 18px;
}

.sidebar-input {
  width: 233px;
  height: 41px;
  background: #fdf9f9;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), -2px -2px 2px #ffffff;
  margin-left: 7px;
  margin-top: 8px;
}


.main-event{
width: 266px;
height: 310px;
background: #FFFFFF;
box-shadow: -2px -2px 10px #FFFFFF, 2px 2px 10px rgba(0, 0, 0, 0.25);

}


/* Start of Popular Event Section  */
.course-st-line{
  width: 26px;
  height: 0px;
  border: 2px solid #3AC569;
  transform: rotate(90deg);
  margin-left: -13px;
  margin-top: 10px;
  }
  .course-det-p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 7px;
  margin-top: 10px;
  }
  /* End of Popular Event Section  */


  
/* End of Sidebar Section  */

/* Start of Footer Section  */

footer ul li {
  padding: 5px 0px;
}
footer ul li a,
.sub-detail {
  color: #fdf9f9b2;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}
.straight-line {
  height: 250px;
  border: 1px solid #ffffff;
}
.line-foot {
  padding-left: 25px;
}
.input {
  line-height: 2rem;
  font-size: 18px;
  border-radius: 0;
  background-color: white;
  padding-left: 18px;
}
.input::placeholder {
  color: #00000080;
}

.bgf {
  background-image: url("../assets-11/footer.png");
  height: 425px;
}
.text-ladu {
  color: #fdf9f9b2;
}
.btn-foot {
  border-radius: revert !important;
  border: none;
}
.foot-btn-div {
  width: 65px;
  height: 47px;
  background: #3ac569;
}

.foot-hor-line {
  width: 100%;
  height: 0px;
  border: 1px solid #ffffff;
}
/* End of Footer Section  */
