@font-face {
  font-family:inter;
  src: url('../fonts/Inter/Inter-Regular.ttf');
}
@font-face {
  font-family:inter-bold;
  src: url('../fonts/Inter/Inter-Bold.ttf');
}
@font-face {
  font-family:inter-medium;
  src: url('../fonts/Inter/static/Inter-Medium.ttf');
}
@font-face {
  font-family:lora-bold;
  src: url('../fonts/Lora/Lora-Bold.ttf');
}
@font-face {
  font-family:lora-bold;
  src: url('../fonts/Lora/static/Lora-Medium.ttf');
}
@font-face {
  font-family:lora;
  src: url('../fonts/Lora/Lora-Regular.ttf');
}


:root{
--green-color: #3AC569;
--white-color: #FFFFFF;
--black-color: #000000;
--gray-color: #CACACA;
--low-black-color: #333333;
--light-black-color: rgba(0, 0, 0, 0.5);

}




/*nav*/
.main-first-sec{
    background-color: 
    var(--green-color);
    height: 46px;
}
.container-fluid p{
    padding-top: 4px;
}
.logo-sec-main{
  background-color: var(--white-color);
}
.logo{
    height: 114px;
    
}
.logo h1{
    margin-top: 8px;
}
.nav{
    text-decoration: none;
    font-size: 600;
    font-size: 18px;
}
.position{
    position: relative;
    bottom: 27px;
    font-weight: 700;
}
.call{
    position: relative;
    bottom: 8px;   
}
.text-succes{
    color: var(--green-color);
}
/* hero section */
.zero{
    background-image: linear-gradient(rgba(18, 18, 18, 0.7), rgba(7, 7, 7, 0.7)), url(../img/hero-1.png);
    background-size: cover;
    height: 923px;
    width: 100%;
    position: relative;
    bottom: 88px;
   z-index: -1;
   margin-top: -32px;
   height: auto;
   width: auto;
}
.btn{
    background-color: var(--green-color);
    border-radius: 28px;
    
}
.video-btn{
    width: 178px;
    height: 56px;
    background-color: transparent;
    border: 1px solid var(--green-color);
    border-radius: 28px;
    position: relative;
    top: 3px;
    padding-top: 17px;
}
.vbg{

    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: var(--green-color);
    position: relative;
    right: 22px;
    bottom: 15px;   
}
.me-3{
   position: relative;
   top: 10px;
   left: 8px;
}

.sec-4-title,
.sec-4-title b {
  font-family: lora-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 51px;
  text-transform: uppercase;
  color: #000000;
}
.line {
width: 34px;
height: 0px;
border: 2px solid var(--green-color);
transform: rotate(90deg);
margin-top: 22px;
}
.square {
  /* Rectangle 252 */

  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--green-color);
  right: -4px;
  top: -4px;
}
.read-more {
  /* Rectangle 239 */
  width: 117px;
  height: 41px;
  background: var(--green-color);
  border-radius: revert;
  border: none;
}

.sec-4-img-div {
  position: relative;
}
.sec-4-border {
  position: absolute;
  width: 374px;
  height: 374px;
  border: 2px dashed var(--white-color);
  top: 32px;
  left: 65px;
}
.fea-cor-btn-arrow{
width: 10px;
height: 10px;
}
.feature-coruse-doub-line{
width: 266px;
height: 0px;
}
.feature-coruse-doub-line img{
  margin-top: -36px;
}

.b{
    position: relative;
    bottom: 90px;
}
.dot{
   margin-left: 50%;
}
.why{
    font-family: 'Times New Roman', Times, serif;
    
}
.background-pic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/sec-4-bg.png);
    height: 940px;
    width: 100%;
    background-size: cover;
    
}
.form{
    height: 460px;
    width: 1236px;
    background-color: #000647;
}

/* Start of Eight Section  */

.sec-8 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.63),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/Rectangle 26.png");
  height: 784px;
  width: 100%;
  background-size: cover;
}
.sec-8-contain {
  position: relative;
}

.sec-8-heading h1,
.sec-8-blog h1 {
  margin-top: 95px !important;
  /* margin-left: 50px; */
}

.event-date {
  box-sizing: border-box;
  width: 143px;
  height: 143px;
  border: 2px solid var(--green-color);
}
.event-text {
  width: 411px;
  height: 60px;
  font-family: inter-bold;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: var(--white-color);
}
.event-time-loc {
  width: 401px;
}
.event-line {
  width: 467px;
  height: 0px;
  border: 1px solid var(--white-color);
}

.stright-line {
  width: 541px;
  height: 0px;
  border: 1px solid var(--white-color);
  transform: rotate(90deg);
  position: absolute;
  top: 460px;
  right: 22%;
}

.blog-detail {
  margin-top: 67px;
}
.blog-text {
  width: 299px;
}
.blog-date img {
  width: 16px;
  height: 16px;
}

.blog-line {
  width: 342px;
  height: 0px;
  border: 1px solid var(--white-color);
  margin-top: 34px;
}
/* End of Eight Section  */


/* Start of Grid System  */
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-item {
  box-sizing: border-box;
  width: 192px;
  height: 192px;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.large {
  grid-column: span 2;
  grid-row: span 2;
  width: 400px;
  height: 420px;
}

.medium {
  grid-column: span 2;
}

.small {
  grid-column: span 1;
}


/* End of Grid System  */


/* Start of Lenovo Section  */

.lenovo {
  background-image: url("../img/sec-9-bg.png");
  height: 145px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.lenove-img {
  margin-left: 40px;
}
/* End of Lenovo Section  */

/* Start of Footer Section  */
ul{
  list-style: none;
}
ul li a img{
  width: 8px;
  height: 8px;
}
footer ul li {
  padding: 5px 0px;
}
footer ul li a,
.sub-detail {
  color: #fdf9f9b2;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}
.straight-line {
  height: 250px;
  border: 1px solid var(--white-color);
}
.line-foot {
  padding-left: 25px;
}
.input {
  line-height: 2rem;
  font-size: 18px;
  border-radius: 0;
  background-color: var(--white-color);
  padding-left: 18px;
}
.input::placeholder {
  color: #00000080;
}

.bgf {
  background-image: url("/img/footer.png");
  height: 425px;
}
.text-ladu {
  color: #fdf9f9b2;
}
.btn-foot {
  border-radius: revert !important;
  border: none;
}
.foot-btn-div {
  width: 65px;
  height: 47px;
  background: var(--green-color);
}

.foot-hor-line {
  width: 100%;
  height: 0px;
  border: 1px solid var(--white-color);
}
/* End of Footer Section  */

/* inline css  */

.kl{
  padding-top: 28%;
}
.nm{
  height: 56px;
   width: 178px;
}
.jk{
  max-width: 700px;
}
.er{
  margin-left: -15px;
}
.fg{
  width: 293px; height: 415px;
}
.yu{
  height: 213px; width: 266px;
}
.qw{
  width: 293px; height: 415px; margin-left: 27px;
}
.il{
  height: 213px; width: 266px;
}
.tg{
  width: 293px; height: 415px; margin-left: 27px;
}
.ws{
  height: 213px; width: 266px;
}
.pl{
  width: 293px; height: 415px; margin-left: 27px;
}
.km{
  height: 213px; width: 266px;
}
.iuy{
  width: 293px; height: 415px; margin-left: 27px;
}
.yhb{
  width: 293px; height: 415px; margin-left: 27px;
}
.xcv{
  height: 213px; width: 266px;
}
.asd{
  margin-left: 50px; margin-top: 70px;
}
.az{
  width: 392px;height: 361px;
}
.bv{
  position: relative; left: 140px;bottom: 70px;
}
.vfr{
  margin-top: 65px;
}
.ftg{
  width: 392px; height: 373px;
}
.drt{
  height: 209px; width: 356px;
}
.edc{
  height: 209px; width: 356px;
}
.bhyt{
  width: 293px; height: 415px;
}
.alkg{
  height: 213px; width: 266px;
}
