.pad {
  padding-left: 150px;
}
.abot::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 2px;
  background-color: #3ac569;
  top: 635px;
  left: 150px;
}

.bgg {
  background-color: #f5f4f0;
}
.bga {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.8),
      rgba(20, 20, 20, 0.8)
    ),
    url('../../about/assests-about/sec4-bg.png');
}

.bgl {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.7),
      rgba(20, 20, 20, 0.7)
    ),
    url('../../about/assests-about/sec5-bg.png');
  /* height: 752px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cgf {
  width: 285px;
  height: 411px;
  background-color: #fff;
}
.bol {
  position: relative;
  top: -15px;
}
.bkl {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.6),
      rgba(20, 20, 20, 0.6)
    ),
    url('../../about/assests-about/hero-bg.png');
  height: 546px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.co {
  color: #cacaca;
}
.but {
  background-color: #3ac569;
  border-radius: 28px;
}
.butt {
  color: #3ac569;
}
@media (max-width: 1400px) {
  .custom-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .margintop {
    margin-top: 20px !important;
  }
  .displayNone1400 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .displayNone {
    display: none;
  }
}
