/* section 1 */
@font-face {
  font-family:inter;
  src: url('/fonts/Inter/Inter-Regular.ttf');
}
@font-face {
  font-family:inter-bold;
  src: url('/fonts/Inter/Inter-Bold.ttf');
}
@font-face {
  font-family:inter-medium;
  src: url('/fonts/Inter/static/Inter-Medium.ttf');
}
@font-face {
  font-family:lora-bold;
  src: url('/fonts/Lora/Lora-Bold.ttf');
}
@font-face {
  font-family:lora-bold;
  src: url('/fonts/Lora/static/Lora-Medium.ttf');
}
@font-face {
  font-family:lora;
  src: url('/fonts/Lora/Lora-Regular.ttf');
}
*
{
    margin: 0px;
    padding: 0px;
}
body{
  overflow-x: hidden;
}
.hero-img
{
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url('../Assests/hero-img.png');
    height: 969px;
    background-position: center;
    width: 100%;

}
  .header-3 {
    --bs-gutter-x:0px;
  }
  ul{
    list-style: none;
  }
  .f-size
  {
    font-size:80px;
  }
  .play
  {
    height:60px;
    width: 60px;
    display: flex;
    border: 0;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color:#3AC569 ;
  }
  .play-size
  {
    height:30px;
    width:30px;
}

/* section 2 */


p{
    font-size: 20px;
    font-weight: 400;
}
/* .row{
    width: 100% !important;
} */
 /* .content{
    width: 400px;
    height: 500px !important;
 } */


  .ca{
    background-image: url(/Assests/sec2-1.png);
    width: 421px;
    height: 540px;
  }
 .row-1 {
    /* --bs-gutter-x: -49.5rem; */
    --bs-gutter-y: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(4 * var(--bs-gutter-y));
    margin-right: calc(-5.5 * var(--bs-gutter-x));
    margin-left: calc(-7.5 * var(--bs-gutter-x));
    justify-content: space-between;
}
.cont3{
    --bs-gutter-x: 1rem !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}
.dt{
    position: absolute;
    top: 5px;
    left: 5px;
}
 .content p{
    margin-bottom: 8px;
 }
.bg-lightgrey{
    position: absolute;
    bottom: 0;
    left: 9px;
    /* right: 5px; */
    background: #1D1D1DB2;
}

/* section 3 */
.ml{
    margin-left: 1000px;
}

.cb{
  position: absolute;
  top: 80%;
}
.news {
  /* border-radius: 50%; */
  position: relative;
  top: -50px;
  left: 80px;
  width: 81px;
  height: 81px;
}

/* section 4 */
.sec4-bg
{
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url('/Assests/sec4-bg.png');
    height: 1226px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-top:80px;
    width: 100%;

}
.subscribe-section {
  display: flex;

}
.subscribe-form {
  padding:0px 15px;
  width: 100%;
}
.form-group {
  position: relative;
  margin-bottom: 30px;
}
.form-group img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  opacity: 0.6;
}
.form-control {
  height: 50px;
  padding-left: 60px; /* Make space for the icon */
}
.subscribe-form .btn-get {
  background-color: #3AC569;
  border-color: #3AC569;
  height: 50px;
  font-size: 20px;
  color: white;
  width: 100%;
  font-weight:bolder;
}
.subscribe-form .btn-get:hover {
  background-color: #0056b3;
  border-color: #004085;
}
.bg-purple
{
  background-color:  #000647;
  height: 710px;
}
.f-size1
{
  font-size:18px;
}

/* section6 */
.sec-8{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(7, 7, 7, 0.5)),
  url("/Assests/sec6-bg.png");
  height: 784px;
  background-repeat: no-repeat;
  background-size: cover  ;
  background-position: center; 
}
.sec-8-contain{
  position: relative;
}

.sec-8-heading h1, .sec-8-blog h1{
  margin-top: 73px!important;
  /* margin-left: 50px; */
}


.event-date{
box-sizing: border-box;
width: 143px;
height: 143px;
border: 2px solid #3AC569;
}
.coll{
  background-color: #3AC569;
}
.colll{
  color: #3AC569;
}
.event-text{
width: 406px;
height: 60px;
font-family:inter;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
}
.event-time-loc{
  width: 401px;
}
.event-line{
width: 467px;
height: 0px;
border: 1px solid #FFFFFF;

}
.stright-line{
width: 541px;
height: 0px;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
position: absolute;
top: 460px;
right: 300px;
}

.blog-detail {
  margin-top: 76px;
}
.blog-text{
  width: 299px ;
}
.blog-date img{
  width: 16px;
  height: 16px;
  
}

.blog-line{
width: 342px;
height: 0px;
border: 1px solid #FFFFFF;
}

/* section 7 */
.img-container
{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.large-img{
  width:99%;
  height: 410px;
}
.medium-img{
  width:100%;
  height: 410px;
}
.small-img
{
  width:32%;
  height: 200px;
}
.small-img2
{
  width:71%;
  height: 197px;
}
.small-img1
{
  width:27%;
  height: 200px;
}
.small-img3
{
  width:27%;
  height: 200px;
}
.small-img4
{
  width:26.5%;
  height: 200px;
}
/* section 8 */

.bg8{
  background-image:linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url(/Assests/sec8-bg.png);
  height: 145px;
  /* background: #040404CC; */
}

/* footer */
footer ul li{
  padding: 5px 0px;
}
footer ul li a{
  color:#FDF9F9B2;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}
.straight-line{
  height: 250px;
  border: 1px solid #FFFFFF;
  }

.input{
  line-height: 2rem;
  font-size: 18px;
  border-radius: 0;
}
.bgf{
  background-image: url(/Assests/footer.png);
  height: 425px;
}
.text-ladu{
  color: #FDF9F9B2;
}
/* Start of Footer Section  */
ul{
  list-style: none;
}
ul li a img{
  width: 8px;
  height: 8px;
}
footer ul li {
  padding: 5px 0px;
}
footer ul li a,
.sub-detail {
  color: #fdf9f9b2;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}
.straight-line {
  height: 250px;
  border: 1px solid #ffffff;
}
.line-foot {
  padding-left: 25px;
}
.input {
  line-height: 2rem;
  font-size: 18px;
  border-radius: 0;
  background-color: white;
  padding-left: 18px;
}
.input::placeholder {
  color: #00000080;
}

.bgf {
  background-image: url("/Assests/footer.png");
  height: 425px;
}
.text-ladu {
  color: #fdf9f9b2;
}
.btn-foot {
  border-radius: revert !important;
  border: none;
}
.foot-btn-div {
  width: 65px;
  height: 47px;
  background: #3ac569;
}

.foot-hor-line {
  width: 100%;
  height: 0px;
  border: 1px solid #ffffff;
}
/* End of Footer Section  */